<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar">
    <li class = "nav-item">
      <a routerLink="employees" routerLinkActive="active" class="nav-link"> Liste d'employés:</a>
    </li>

    <li class = "nav-item" >
      <a routerLink="create-employee"  routerLinkActive="active" class="nav-link"> Ajouter un employé:</a>
    </li>
  </ul>

</nav>

<h1 class="text-center">{{title}}</h1>
<div class = "container">
  <router-outlet></router-outlet>
</div>

<footer class = "footer">
  <div class = "container">
    <span> All rights reserved 2020 - Copyrights</span>
  </div>
</footer>
